.card {
  background-color: var(--bg-950);
  border-radius: 1rem;
  border: none;
  display: flex;
  flex-direction: column;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.2);
  animation: fly-up 0.5s;
  border: solid 1px var(--bg-750);
  border-top: solid 1px var(--bg-850);
  border-bottom: solid 1px var(--bg-650);
  background: var(--bg-gradient-light);
}

.card .categories {
  display: flex;
  gap: 0.5rem;
}

.card .categories a {
  padding: 0.25em 0.75em;
  border: solid 1px var(--bg-50);
  border-radius: 0.25em;
  text-decoration: none;
  color: inherit;
}

.card .featured-imgs {
  height: 400px;
  display: flex;
  overflow: hidden;
  border: none;
  border-radius: 1rem 1rem 0 0;
  background-color: var(--bg-150);
}

.card .featured-imgs:not(:hover) > .slide-wrapper:first-of-type,
.card .featured-imgs > .slide-wrapper:hover {
  flex: 6;
  filter: blur(0px);
  background-color: rgba(0, 0, 0, 0);
}

.card .featured-imgs > .slide-wrapper {
  flex: 1;
  position: relative;
  transition: flex ease 0.5s, filter ease 0.5s, background-color ease 0.5s;
  filter: blur(3px);
  box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.card .featured-imgs > .slide-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: inherit;
}

.card .featured-imgs > .slide-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  box-shadow: inherit;
  pointer-events: none;
}

.card .details {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card p {
  text-align: justify;
  line-height: 1.75em;
}

/* .card p:not(:first-of-type) {
  margin-top: 1rem;
} */

.card .bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1rem;
}

.card button {
  padding: 0.5rem 1rem;
  font-size: 1em;
  border: none;
  background-color: var(--accent-600);
  color: white;
  border-radius: 0.5em;
  font-weight: 600;
  cursor: pointer;
}

.card .date {
  color: var(--text-500);
  font-size: 1rem;
}

.card button:hover {
  background-color: var(--accent-650);
}

.card button:active {
  background-color: var(--accent-700);
}

.card.loader .featured-imgs {
  background-color: var(--text-600);
  position: relative;
}

.card.loader .skeleton-category {
  position: relative;
  width: 5rem;
  height: 2rem;
  background-color: var(--text-850);
}

.card.loader .skeleton-heading {
  position: relative;
  width: 75%;
  height: 2.5rem;
  background-color: var(--text-750);
}

.card.loader .skeleton-text {
  position: relative;
  width: 100%;
  height: 1.5rem;
  background-color: var(--text-850);
}

.card.loader .details .skeleton-text:last-of-type {
  width: 50%;
}

.card.loader .skeleton-category::after,
.card.loader .featured-imgs::after,
.card.loader .skeleton-heading::after,
.card.loader .skeleton-text::after {
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.2) 20%,
    transparent 80%
  );
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  content: "";
  background-size: 200%;
  animation: loading 1s infinite linear;
}

@keyframes fly-up {
  0% {
    opacity: 0%;
    transform: translateY(10%);
  }
  100% {
    opacity: 100%;
    transform: translateY(0%);
  }
}

@keyframes loading {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@media (max-width: 1200px) {
  .card .featured-imgs {
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-coordinate: 0 0;
    scroll-snap-points-x: repeat(100%);
    scroll-snap-type: x mandatory;
    display: flex;
    -webkit-overflow-scrolling: touch;
  }

  .card .featured-imgs:not(:hover) > .slide-wrapper:first-of-type,
  .card .featured-imgs > .slide-wrapper:hover {
    flex: 1;
  }

  .card .featured-imgs > .slide-wrapper {
    flex: 1;
    min-width: 100%;
    scroll-snap-align: start;
    filter: blur(0px);
    background-color: rgba(0, 0, 0, 0);
  }
}

@media (max-width: 850px) {
  .card .featured-imgs {
    height: 300px;
  }
}

@media (max-width: 650px) {
  .card > .details {
    padding: 1.5rem;
  }

  .card .featured-imgs {
    height: 250px;
  }

  .card .bottom {
    flex-direction: column;
    gap: 1rem;
  }

  .card .date {
    width: 100%;
  }
}
