.slider-wrapper {
  position: relative;
  max-width: 100%;
}

.slider-wrapper::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.6);
  pointer-events: none;
}

.slider {
  display: flex;
  aspect-ratio: 2.5;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slider img {
  flex: 1 0 100%;
  scroll-margin-top: 5svh;
  scroll-snap-align: start;
  object-fit: cover;
  cursor: pointer;
}

.slider-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;
  z-index: 1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
}

.slider-nav a {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  background-color: var(--text-750);
  transition: all 0.15s;
  border: solid 1px var(--bg-250);
}

.slider-nav a:hover {
  background-color: var(--text-850);
}

.slider-nav a.active {
  background-color: white;
  width: 3rem;
  border-radius: 1rem;
}

.slider-wrapper .expand-hint {
  position: absolute;
  display: flex;
  border-radius: 50%;
  padding: 0.25rem;
  color: var(--bg-950);
  top: 1rem;
  right: 1rem;
  z-index: 2;
  opacity: 0%;
  transition: opacity 0.15s;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
}

.slider-wrapper:hover .expand-hint {
  opacity: 100%;
}

.card {
  background-color: var(--bg-950);
  border-radius: 1rem;
  border: none;
  display: flex;
  flex-direction: column;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.2);
  border: solid 1px var(--bg-750);
  border-top: solid 1px var(--bg-850);
  border-bottom: solid 1px var(--bg-650);
  background: var(--bg-gradient-light);
  overflow: hidden;
}

.card .categories {
  display: flex;
  gap: 0.5rem;
}

.card .categories a {
  padding: 0.25em 0.75em;
  border: solid 1px var(--bg-50);
  border-radius: 0.25em;
  text-decoration: none;
  color: inherit;
}

.card .details {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card p {
  text-align: justify;
  line-height: 1.75em;
}

.card .bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1rem;
}

.card button {
  padding: 0.5rem 1rem;
  font-size: 1em;
  border: none;
  background-color: var(--accent-600);
  color: white;
  border-radius: 0.5em;
  font-weight: 600;
  cursor: pointer;
}

.card .date {
  color: var(--text-500);
  font-size: 1rem;
}

.card button:hover {
  background-color: var(--accent-650);
}

.card button:active {
  background-color: var(--accent-700);
}

.card.loader .skeleton-category {
  position: relative;
  width: 5rem;
  height: 2rem;
  background-color: var(--text-850);
}

.card.loader .skeleton-heading {
  position: relative;
  width: 75%;
  height: 2.5rem;
  background-color: var(--text-750);
}

.card.loader .skeleton-text {
  position: relative;
  width: 100%;
  height: 1.5rem;
  background-color: var(--text-850);
}

.card.loader {
  animation: fly-up 0.5s;
}

.card.loader .details .skeleton-text:last-of-type {
  width: 50%;
}

.topic.loader {
  background: var(--text-500);
  border: solid 1px var(--text-500);
  position: relative;
  animation: fly-left 0.5s;
}

.topic.loader > .skeleton-heading {
  height: 2.369rem;
  width: min(100%, 400px);
  display: block;
  background-color: var(--text-750);
  position: relative;
}

.card.loader .skeleton-slider {
  height: 300px;
  background-color: var(--bg-650);
}

.card.loader .skeleton-category::after,
.card.loader .skeleton-slider::after,
.card.loader .skeleton-heading::after,
.card.loader .skeleton-text::after,
.topic.loader > .skeleton-heading::after {
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.2) 20%,
    transparent 80%
  );
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  content: "";
  background-size: 200%;
  animation: loading 1s infinite linear;
}

@keyframes fly-up {
  0% {
    opacity: 0%;
    transform: translateY(50px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes loading {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@media (max-width: 1200px) {
  .slider {
    aspect-ratio: 2;
  }
}

@media (max-width: 650px) {
  .card > .details {
    padding: 1.5rem;
  }

  .slider img {
    scroll-margin-top: 15svh;
  }

  .card .bottom {
    flex-direction: column;
    gap: 1rem;
  }

  .card .date {
    width: 100%;
  }

  .slider-wrapper .expand-hint {
    opacity: 100%;
  }

  .slider-nav {
    height: 2rem;
  }

  .slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
  }

  .slider-nav a.active {
    width: 2rem;
  }
}
