.card.contact > .details {
  padding: 3rem;
  gap: 1.5rem;
}

.card.contact form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card.contact form textarea {
  resize: none;
}

.card.contact form .alias {
  display: flex;
  gap: 1.5rem;
}

.card.contact form .alias > input {
  width: 100%;
}

.card.contact form .bottom {
  margin: 0;
  display: flex;
  gap: 0.75rem;
  justify-content: flex-start;
  align-items: center;
}

.card.contact form input[type="text"],
.card.contact form input[type="email"],
.card.contact form textarea {
  padding: 1em;
  border-radius: 5px;
  border: solid 2px var(--bg-750);
  font-size: 1rem;
  background-color: var(--bg-950);
  font-family: "Mada";
}

.card.contact form input[type="submit"],
.card.contact form input[type="button"] {
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  background-color: var(--accent-600);
  color: white;
  border-radius: 0.5em;
  font-weight: 600;
  cursor: pointer;
}

.card.contact form input[type="button"] {
  background-color: var(--bg-250);
}

.card.contact form input[type="submit"]:hover {
  background-color: var(--accent-650);
}
.card.contact form input[type="button"]:hover {
  background-color: oklch(45.386% 0.00004 271.152);
}

@media (max-width: 800px) {
  .card.contact form .alias {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .card.contact form .bottom {
    flex-direction: column;
  }

  .card.contact form .bottom input {
    width: 100%;
  }

  .card.contact > .details {
    padding: 2rem;
  }
}
